/*
    Theme name: Carolina Spa WooCommerce
    Theme URI:
    Description: Tema para la tienda virtual de Carolina SPA
    Author: mossa
    Template: storefront
    Version: 1.0
    License: GNU General Public License v2 or later
    Tags: woocommerce, spa, responsive, ecommerce
*/

h2.section-title {
    color: black;
    font-size: 2.4em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

h2.section-title::after {
    content: '';
    display: block;
    height: .1em;
    width: 3em;
    background-color: #e182a8;
    margin: .2em auto 0 auto;

}

.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
.site-footer .storefront-handheld-footer-bar a:not(.button),
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle {
    color: #000000;
}

button.menu-toggle,
button.menu-toggle:hover {
    border-color: #000000;
}

.main-navigation ul li a:hover,
.main-navigation ul li:hover > a,
.site-title a:hover,
a.cart-contents:hover,
.site-header-cart .widget_shopping_cart a:hover,
.site-header-cart:hover > li > a,
.site-header ul.menu li.current-menu-item > a {
    color: #414141;
}

table th {
    background-color: #f8f8f8;
}

table tbody td {
    background-color: #fdfdfd;
}

table tbody tr:nth-child(2n) td,
fieldset,
fieldset legend {
    background-color: #fbfbfb;
}

.site-header,
.secondary-navigation ul ul,
.main-navigation ul.menu > li.menu-item-has-children:after,
.secondary-navigation ul.menu ul,
.storefront-handheld-footer-bar,
.storefront-handheld-footer-bar ul li > a,
.storefront-handheld-footer-bar ul li.search .site-search,
button.menu-toggle,
button.menu-toggle:hover {
    background-color: #cccccc;
}

p.site-description,
.site-header,
.storefront-handheld-footer-bar {
    color: #000000;
}

.storefront-handheld-footer-bar ul li.cart .count,
button.menu-toggle:after,
button.menu-toggle:before,
button.menu-toggle span:before {
    background-color: #000000;
}

.storefront-handheld-footer-bar ul li.cart .count {
    color: #cccccc;
}

.storefront-handheld-footer-bar ul li.cart .count {
    border-color: #cccccc;
}

h1, h2, h3, h4, h5, h6 {
    color: #e28a28;
}

.widget h1 {
    border-bottom-color: #e28a28;
}

body,
.secondary-navigation a,
.onsale,
.pagination .page-numbers li .page-numbers:not(.current), .woocommerce-pagination .page-numbers li .page-numbers:not(.current) {
    color: #000000;
}

.widget-area .widget a,
.hentry .entry-header .posted-on a,
.hentry .entry-header .byline a {
    color: #050505;
}

a  {
    color: #000000;
}

a:focus,
.button:focus,
.button.alt:focus,
.button.added_to_cart:focus,
.button.wc-forward:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline-color: #000000;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {
    background-color: #e28a28;
    border-color: #e28a28;
    color: #000000;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .button:hover, .added_to_cart:hover, .widget a.button:hover, .site-header-cart .widget_shopping_cart a.button:hover {
    background-color: #c9710f;
    border-color: #c9710f;
    color: #000000;
}

button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .widget a.button.checkout {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}

button.alt:hover, input[type="button"].alt:hover, input[type="reset"].alt:hover, input[type="submit"].alt:hover, .button.alt:hover, .added_to_cart.alt:hover, .widget-area .widget a.button.alt:hover, .added_to_cart:hover, .widget a.button.checkout:hover {
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    color: #ffffff;
}

.pagination .page-numbers li .page-numbers.current, .woocommerce-pagination .page-numbers li .page-numbers.current {
    background-color: #e6e6e6;
    color: #000000;
}

#comments .comment-list .comment-content .comment-text {
    background-color: #f8f8f8;
}

.site-footer {
    background-color: #000000;
    color: #ffffff;
}

.site-footer a:not(.button) {
    color: #ffffff;
}

.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6 {
    color: #ffffff;
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-title {
    color: #000000;
}

.page-template-template-homepage.has-post-thumbnail .type-page.has-post-thumbnail .entry-content {
    color: #000000;
}

#order_review {
    background-color: #ffffff;
}

#payment .payment_methods > li .payment_box,
#payment .place-order {
    background-color: #fafafa;
}

#payment .payment_methods > li:not(.woocommerce-notice) {
    background-color: #f5f5f5;
}

#payment .payment_methods > li:not(.woocommerce-notice):hover {
    background-color: #f0f0f0;
}

@media screen and ( min-width: 768px ) {
    .secondary-navigation ul.menu a:hover {
        color: #191919;
    }

    .secondary-navigation ul.menu a {
        color: #000000;
    }

    .site-header-cart .widget_shopping_cart,
    .main-navigation ul.menu ul.sub-menu,
    .main-navigation ul.nav-menu ul.children {
        background-color: #bdbdbd;
    }

    .site-header-cart .widget_shopping_cart .buttons,
    .site-header-cart .widget_shopping_cart .total {
        background-color: #c2c2c2;
    }

    .site-header {
        border-bottom-color: #bdbdbd;
    }
}.storefront-product-pagination a {
        color: #000000;
        background-color: #ffffff;
    }
    .storefront-sticky-add-to-cart {
        color: #000000;
        background-color: #ffffff;
    }

    .storefront-sticky-add-to-cart a:not(.button) {
        color: #000000;
    }


    a.cart-contents,
    .site-header-cart .widget_shopping_cart a {
        color: #000000;
    }

    table.cart td.product-remove,
    table.cart td.actions {
        border-top-color: #ffffff;
    }

    .woocommerce-tabs ul.tabs li.active a,
    ul.products li.product .price,
    .onsale,
    .widget_search form:before,
    .widget_product_search form:before {
        color: #000000;
    }

    .woocommerce-breadcrumb a,
    a.woocommerce-review-link,
    .product_meta a {
        color: #050505;
    }

    .onsale {
        border-color: #000000;
    }

    .star-rating span:before,
    .quantity .plus, .quantity .minus,
    p.stars a:hover:after,
    p.stars a:after,
    .star-rating span:before,
    #payment .payment_methods li input[type=radio]:first-child:checked+label:before {
        color: #000000;
    }

    .widget_price_filter .ui-slider .ui-slider-range,
    .widget_price_filter .ui-slider .ui-slider-handle {
        background-color: #000000;
    }

    .order_details {
        background-color: #f8f8f8;
    }

    .order_details > li {
        border-bottom: 1px dotted #e3e3e3;
    }

    .order_details:before,
    .order_details:after {
        background: -webkit-linear-gradient(transparent 0,transparent 0),-webkit-linear-gradient(135deg,#f8f8f8 33.33%,transparent 33.33%),-webkit-linear-gradient(45deg,#f8f8f8 33.33%,transparent 33.33%)
    }

    p.stars a:before,
    p.stars a:hover~a:before,
    p.stars.selected a.active~a:before {
        color: #000000;
    }

    p.stars.selected a.active:before,
    p.stars:hover a:before,
    p.stars.selected a:not(.active):before,
    p.stars.selected a.active:before {
        color: #000000;
    }

    .single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
        background-color: #e28a28;
        color: #000000;
    }

    .single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger:hover {
        background-color: #c9710f;
        border-color: #c9710f;
        color: #000000;
    }

    .button.loading {
        color: #e28a28;
    }

    .button.loading:hover {
        background-color: #e28a28;
    }

    .button.loading:after {
        color: #000000;
    }

    @media screen and ( min-width: 768px ) {
        .site-header-cart .widget_shopping_cart,
        .site-header .product_list_widget li .quantity {
            color: #000000;
        }
    }


/* Estilos añadidos */

/*** Iconos ***/

#post-62 {
    display: none;
}

.iconos-inicio {
    background-color: #e282a8;
    color: white;
    padding: 1em 0;
}
.iconos-inicio .col-full::after,
.iconos-inicio .columns-4::after {
    display: block;
    content: '';
    clear: both;
}
.iconos-inicio .columns-4 {
    width: 100%;
    display: flex;
    margin-bottom: 2em;
    justify-content: center;
}

.iconos-inicio .columns-4:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width:768px) {
    .iconos-inicio .columns-4 {
        width: 33.3%;
        float: left;
        margin-bottom: 0;
    }
}

.iconos-inicio .columns-4 i {
    float: left;
    margin-right: .5em;
    font-size: 3em;
}

.iconos-inicio .columns-4 p {
    float: left;
    margin-bottom: 0;
    font-size: 1em;
}

.storefront-product-categories ul.products li img {
    -webkit-filter: grayscale(100%);
    filter: grayscale (100%);
    transition: all .5s ease;
}

.storefront-product-categories ul.products li img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale (0%);
    transform: scale(1.1,1.1);
}

.fa-shopping-cart::before {
    margin-right: 10px;
}

/*** header ***/
.site-header {
    background-color: white;
}

.woocommerce-message {
    background-color: #8ed4cc;
    font-size: 20px;
}

/*** menu ***/

@media only screen and (min-width: 768px) {
    .storefront-primary-navigation {
        background-color: #8ed3cc;
        padding-bottom: 1px;
        margin-bottom: -1px;

    }

    .site-header .site-branding {
        margin-bottom: 20px;
    }

    .main-navigation ul.menu > li > a:hover,
    .main-navigation ul.menu ul.sub-menu  {
        background-color: #7cc1ba;
    }
}

@media only screen and (max-width: 767px) {
    button.menu-toggle {
        background-color: #8ed4cc;
    }
    .storefront-primary-navigation .menu {
        background-color: #8ed4cc;
    }
    .storefront-primary-navigation ul.menu {
        padding-left: 20px;
    }
    .storefront-primary-navigation ul.menu li a {
        font-size: 20px;
    }
}

/*** Redes Sociales ***/


.secondary-navigation a[href*="dribbble.com"], .secondary-navigation a[href*="facebook.com"], .secondary-navigation a[href*="flickr.com"], .secondary-navigation a[href*="foursquare.com"], .secondary-navigation a[href*="plus.google.com"], .secondary-navigation a[href*="instagram.com"], .secondary-navigation a[href*="linkedin.com"], .secondary-navigation a[href*="pinterest.com"], .secondary-navigation a[href*="reddit.com"], .secondary-navigation a[href*="tumblr.com"], .secondary-navigation a[href*="twitter.com"], .secondary-navigation a[href*="vimeo.com"], .secondary-navigation a[href*="wordpress.com"], .secondary-navigation a[href*="wordpress.org"], .secondary-navigation a[href*="youtube.com"], .secondary-navigation a[href*="mailto:"], .secondary-navigation a[href*="twitch.tv"], .secondary-navigation a[href$="/feed/"] {
    text-indent: -9999px; }

  .secondary-navigation a[href*="dribbble.com"]:after, .secondary-navigation a[href*="facebook.com"]:after, .secondary-navigation a[href*="flickr.com"]:after, .secondary-navigation a[href*="foursquare.com"]:after, .secondary-navigation a[href*="plus.google.com"]:after, .secondary-navigation a[href*="instagram.com"]:after, .secondary-navigation a[href*="linkedin.com"]:after, .secondary-navigation a[href*="pinterest.com"]:after, .secondary-navigation a[href*="reddit.com"]:after, .secondary-navigation a[href*="tumblr.com"]:after, .secondary-navigation a[href*="twitter.com"]:after, .secondary-navigation a[href*="vimeo.com"]:after, .secondary-navigation a[href*="wordpress.com"]:after, .secondary-navigation a[href*="wordpress.org"]:after, .secondary-navigation a[href*="youtube.com"]:after, .secondary-navigation a[href*="mailto:"]:after, .secondary-navigation a[href*="twitch.tv"]:after, .secondary-navigation a[href$="/feed/"]:after {
      text-indent: 0;
      display: block;
      float: left; }

  .secondary-navigation a[href*="dribbble.com"]:after, .secondary-navigation a[href*="facebook.com"]:after, .secondary-navigation a[href*="flickr.com"]:after, .secondary-navigation a[href*="foursquare.com"]:after, .secondary-navigation a[href*="plus.google.com"]:after, .secondary-navigation a[href*="instagram.com"]:after, .secondary-navigation a[href*="linkedin.com"]:after, .secondary-navigation a[href*="pinterest.com"]:after, .secondary-navigation a[href*="reddit.com"]:after, .secondary-navigation a[href*="tumblr.com"]:after, .secondary-navigation a[href*="twitter.com"]:after, .secondary-navigation a[href*="vimeo.com"]:after, .secondary-navigation a[href*="wordpress.com"]:after, .secondary-navigation a[href*="wordpress.org"]:after, .secondary-navigation a[href*="youtube.com"]:after, .secondary-navigation a[href*="twitch.tv"]:after {
      font-family: "Font Awesome 5 Brands";
      font-weight: 400; }

  .secondary-navigation a[href*="mailto:"]:after, .secondary-navigation a[href$="/feed/"]:after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900; }

  .secondary-navigation a[href$="/feed/"]:after {
    content: "\f09e";
    color: #ff9900; }
  .secondary-navigation a[href*="twitch.tv"]:after {
    content: "\f1e8";
    color: #6441A5; }
  .secondary-navigation a[href*="mailto:"]:after {
    content: "\f0e0"; }
  .secondary-navigation a[href*="youtube.com"]:after {
    content: "\f167";
    color: #bb0000; }
  .secondary-navigation a[href*="wordpress.com"]:after, .secondary-navigation a[href*="wordpress.org"]:after {
    content: "\f19a";
    color: #0073aa; }
  .secondary-navigation a[href*="vimeo.com"]:after {
    content: "\f194";
    color: #aad450; }
  .secondary-navigation a[href*="tumblr.com"]:after {
    content: "\f173";
    color: #32506d; }
  .secondary-navigation a[href*="reddit.com"]:after {
    content: "\f231"; }
  .secondary-navigation a[href*="twitter.com"]:after {
    content: "\f099";
    color: #00aced; }
  .secondary-navigation a[href*="dribbble.com"]:after {
    content: "\f17d";
    color: #ea4c89; }
  .secondary-navigation a[href*="facebook.com"]:after {
    content: "\f09a";
    color: #3b5998; }
  .secondary-navigation a[href*="flickr.com"]:after {
    content: "\f16e";
    color: #ff0084; }
  .secondary-navigation a[href*="foursquare.com"]:after {
    content: "\f180";
    color: #0072b1; }
  .secondary-navigation a[href*="plus.google.com"]:after {
    content: "\f0d5";
    color: #dd4b39; }
  .secondary-navigation a[href*="instagram.com"]:after {
    content: "\f16d";
    color: #517fa4; }
  .secondary-navigation a[href*="linkedin.com"]:after {
    content: "\f0e1";
    color: #007bb6; }
  .secondary-navigation a[href*="pinterest.com"]:after {
    content: "\f231";
    color: #cb2027; }

    .secondary-navigation a {
        font-size: 1.5em;
    }

    .secondary-navigation .menu a {
        padding-top: 0.5em;
    }

    /*** Carrito barra ***/
    .site-header-cart {
        background-color: #7cc1ba;
        padding-left: 10px;
        padding-right: 10px;
    }

    .site-header-cart woocommerce widget_shopping_cart {
        background-color: #f1f1f1;
    }

    .site-header-cart woocommerce widget_shopping_cart .buttons {
        background-color: transparent;
    }

    .site-header-cart woocommerce widget_shopping_cart a,
    .site-header-cart woocommerce widget_shopping_cart .quantity {
        color: #333;
    }

    .site-header-cart .cart-contents .count {
        color: white;
        opacity: 1;
        font-size: 16px;
        font-weight: bold;
    }

    .site-header-cart .widget_shopping_cart .total {
        background-color: #e282a8;
    }

    .reservados {
        background-color: #e182a8;
        padding: 2rem 0;
        text-align: center;
        font-size: 20px;
        color: white;
    }

    .destacada {
        margin-bottom: 40px;
    }

    .home .site-main {
        padding-top: 2.8em!important;
    }

    @media (min-width:768px) {
        .site-main .columns-3 ul.products li.product {
            width: 20%;
        }
    }

    /*
    span.ahorro {
        background-color: #06c406;
        padding: 10px;
        display: inline-block;
        color: #fff;
        font-weight: bold;
        margin-top: 15px;
    }
    */

    span.ahorro {
        color: #333;
        font-size: 1em;
        font-weight: 700;
        padding: .3em 1em;
        text-align: right;
        border:1px solid #4cae4c;
        margin-top: .8em;
    }

    .ahorro .amount {
        font-weight: 400;
    }

    .onsale {
        border: none;
        background-color: #4cae4c;
        color: #ffffff;
        font-size: 1em;
    }

    footer span.ahorro {
        color: #ffffff;
    }

    /*** Nueva sección homepage ***/

    .imagen-categoria {
        margin-bottom: 30px;
        position: relative;
    }

    .imagen-destacada {
        height: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .imagen-categoria h1 {
        position: absolute;
        top: 30px;
        left: 0;
        background-color: #e282a8;
        color: #fff;
        padding: 5px 20px;
    }
/*
    @media (min-width:992px) {
        .spa-en-casa::after {
            clear: both;
            content:'';
            display: block;
        }
        .imagen-destacada {
            height: 2100px;
            background-attachment: fixed;
        }
        .spa-en-casa .imagen-categoria {
            width: 55%;
            float: left;
        }
        .spa-en-casa .productos {
            width: 35%;
            float: right;
        }
        .spa-en-casa .productos ul.products li.product {
            width: 70%!important;
        }
    }
*/

/*** Subtítulo producto ***/

.subtitulo {
    font-size: 20px;
    font-style: italic;
    color: #969696;
}

/*** Cupón carrito ***/
.cupon-carrito {
    margin-bottom: 20px;
}

/*** Checkout remover extras ***/

.woocommerce-checkout .storefront-primary-navigation,
.woocommerce-checkout .site-search,
.woocommerce-checkout .footer-widgets,
.woocommerce-checkout .woocommerce-form-coupon-toggle {
    display: none;
}

/*** Campos checkout ***/

#billing_rfc_field {
    display: none;
}

/*** Entradas de blog ***/

.entradas-blog ul {
    list-style: none;
    margin: 0;
}

@media only screen and (min-width:768px) {
    .entradas-blog ul li {
        width: 31%;
        margin-right: 3.5%;
        float: left;
    }
    .entradas-blog ul li:last-child {
        margin-right: 0;
    }
}

.entradas-blog img {
    margin-bottom: .5em;
}

.entradas-blog h3 {
    color: black;
    font-weight: 400;
    font-size: 1.4em;
}

.encabezado-entrada {
    font-weight: 600;
    background-color: #e1e1e1;
    padding: .3em;
    margin-bottom: .5em;
}

.encabezado-entrada p {
    margin-bottom: 0;
    color: black;
}

.footer-entrada {
    margin-top: 1em;
}

/*** Buscador ***/

.site-search .widget_product_search form::before {
    display: none;
}

.site-search .widget_product_search form input[type="search"] {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid #e182a8;
    padding: 1em!important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.widget_product_search form button[type="submit"] {
    clip: unset;
    clip-path: unset;
    right: 0;
    left: auto;
    overflow: unset;
    height: 100%;
    width: 30%;
    padding: 12px 12px;
    margin: 0;
    top: 0;
}
